<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title></title>

    </head>
    <body>
       
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Deep Stocks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Stonks
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="DJIA.html">Dow Jones</a>
                  </div>
                </li>
              </ul>
            </div>
            <a class="nav-link" href="about.html" >About <span class="sr-only"></span></a>
          </nav>
            <h1>DJIA</h1>
            <canvas id='PriceChart' width="100" height="100"></canvas>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
            <script src="http://localhost/App/static/js/work.js"></script>
            
            <div class="PredictionClass">
              <h6>Days Ahead</h6>
              <input type="range" min="1" max="5" value="1" id="myRange" class="slider">
              <p>
                Days: <span id="value"></span><br>
                pos: <span id="pos"></span><br>
                neg: <span id="neg"></span><br>
                neu: <span id="neu"></span><br>
              </p>
              <label for="dropdown">Choose a Data Option:</label>
                  <select name="dropdown" id="dropdown">
                  <option value=0>News</option>
                  <option value=1>Sentiment</option>
                  <option value=2>Sentiment and News</option>
                </select>
              <label for="otherDropdown">Choose Sliding Window: </label>
                <select name="otherDropdown" id="otherDropdown">
                  <option value=0>1 Day</option>
                  <option value=1>5 Day</option>
                  <option value=2>10 Day</option>
                  <option value=3>12 Day</option>
            </div>
            <script src="http://localhost/App/static/js/getData.js"></script>

    </body>
</html>